{% extends 'XsolveCrawlerBundle::layout.html.twig' %}

{% block body %}
    <div class="header">
        <h1><a href="{{ feed.permalink }}"> {{ feed.title|htmldecode }} </a></h1>
        <p> {{ feed.description|htmldecode }} </p>
    </div>
    {% for item in feed.items %}
        <div class="item">
            <h2><span class="order">{{ loop.index }})&nbsp;</span><a href="{{ item.get_permalink() }}">{{ item.get_title() }}</a></h2>
            {% if keyword is defined %}
                {% set keywordReplacement = '<span class="search-found">' ~ keyword ~ '</span>' %}
                <p>{{ item.get_description()|htmldecode|replace({ (keyword) : keywordReplacement})|raw  }}</p>
            {% endif %}

            {% if keyword is not defined %}
                <p>{{ item.get_description()|htmldecode  }}</p>
            {% endif %}
            <p><small>Posted on {{ item.get_date('j F Y | g:i a') }}</small></p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
FORMULARZ
{% endblock %}